# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
*~$

terraform/terraform.tfvars