# Environments
.env
.env.*


# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*.backup
!terraform/terraform.tfvars.example # Don't ignore example tfvars

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
*~$

# Firebase
.firebase
firebase.json.local
firebase.log



terraform/terraform.tfvars
