# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Terraform
.terraform/

.terraform.lock.hcl
terraform/terraform.tfvars

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
*~$

# Firebase
.firebase
firebase.json.local
firebase.log

terraform/terraform.tfstate
terraform/terraform.tfstate.backup

