YOUTUBE_API_KEY=YOUR_KEY_HERE
TARGET_CHANNEL_ID="UC_..."
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID_HERE
ENABLE_AUTO_INGESTION=false #if true, the channel will be scanned every 15 minutes for new files.
GCS_BUCKET_NAME=YOUR_GCS_BUCKET_NAME #not the entire gs://url, just the unique name of the bucket
GEMINI_API_KEY=YOUR_API_KEY
GCP_REGION="us-central1"
GEMINI_MODEL_NAME="gemini-2.5-pro-preview-06-05"
IMAGEN_MODEL_NAME="imagen-3.0-generate-002" #"imagen-4.0-generate-preview-05-20" --> Imagen 4
                                        #"imagen-4.0-ultra-generate-exp-05-20" --> Imagen 4 ultra
                                        #"imagen-3.0-generate-002" --> Imagen 3 (this one has auto prompt rewriting)
                                        #"imagen-3.0-fast-generate-001" --> Imagen 3 fast
                                        #"imagegeneration@006" --> Imagen 2
