YOUTUBE_API_KEY=YOUR_KEY_HERE
TARGET_CHANNEL_ID="UC_..."
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID_HERE
ENABLE_AUTO_INGESTION=false #if true, the channel will be scanned every 15 minutes for new files.
GCS_BUCKET_NAME=YOUR_GCS_BUCKET_NAME #not the entire gs://url, just the unique name of the bucket
GEMINI_API_KEY=YOUR_API_KEY
GCP_REGION="us-central1"

# This is used for encrypting sensitive data like OAuth tokens stored in the database.
# Generate a new one for your production environment using Python:
# at the root of this repo, run "python generate_key.py" and copy/paste the key here. Do it again for the other one
JWT_SECRET_KEY =YOUR_GENERATED_FERNET_KEY
SECRET_KEY=YOUR_OTHER_GENERATED_FERNET_KEY

# Client-side authentication settings

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET="your-google-client-secret-goes-here"

GEMINI_MODEL_NAME="gemini-1.5-pro-latest"
IMAGEN_MODEL_NAME="imagegeneration@006"
